.DS_Store
.vscode/settings.json
.vscode/tasks.json
__pycache__/
venv/
build/
simulator/sdcard/*
simulator/audio/sdl_audio_player
simulator/audio/sdl_radio_player
simulator/viewer/sdl_fb_viewer
simulator/gameboy/sim_gameboy_runner
simulator/jpeg/sim_jpeg_decode
